* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  height: 0;
}

textarea {
  width: 100%;
  min-height: 600px;
  field-sizing: content;
}

button {
  width: 100%;
  padding: 20px;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
