<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Journaler</title>
  <script src="/feeds.js" defer></script>
  <script src="/write.js" defer></script>
  <script src="/list.js" defer></script>
  <script src="/publish.js" defer></script>
  <script src="/client.js" defer></script>

  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <nav>
    <a href="/">Feeds</a>
    <a href="/publish">Publish</a>
  </nav>
  <content />
</body>

</html>